/* Navigation menu properties*/
#menu {
	background-color: #138808;
	position: fixed;
	width: 98.7%;
}

/* Style the links inside the navigation bar */
#menu a {
	float: left;
	color: #000080;
	text-align: center;
	padding: 30px 34px;
	text-decoration: none;
	font-size: 40px;
}

/* Change the color of links on hover in the menu*/
#menu a:hover {
 	transform: scale(1.35);
}

div {
	text-align: center;
	border-style: solid;
}

h1 {
	font-size: 30px;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

table, th, td {
	border: 1px solid white;
	border-collapse: collapse;
}
thead{
	background-color: black;
}
th, td {
	background-color: #96D4D4;
}

textarea {
    resize: none;
}

